mlx
numpy
torch
icecream
scikit-learn
tensorflow
jax
nltk
transformers
gensim
matplotlib
seaborn
pandas
yfinance
scipy
kobert-transformers
torchvision
peft
accelerate
evaluate
datasets
jaxlib
mlx-data
matplotlib_venn